{% extends "layout.html" %}

{% block title %}Project{% endblock %}

{% block content %}

{% if user.is_authenticated%}
<h1 class = "text-center text-white mt-4"}>Hii {{user.username}}</h1>
{% endif %}

<a class = "btn btn-primary mt-2" href="{% url 'tweet_create'%}">Create a Tweet</a>

<div class="container row gap-3 mt-4">
    {% for tweet in tweets  %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{tweet.photo.url}}" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>

          {% if tweet.user == user%}
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>

          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>

          {%endif%}
        </div>
      </div>

    {% endfor %}
</div>

{% endblock %}